<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>

<body>

<style type="text/css">
    table {
        background-color: #ffffff;
        border-collapse: collapse;
        border: none;
    }

    thead {
        background-color: #0096f3;
    }

    tfoot {
        background-color: #F7F1D4;
        font-size: 80%;
        border-top: 1px solid #999;
    }

    td, th {
        text-align: left;
        padding: 0.5em 1em;
    }
</style>

<div id="site">
    <table id="logo">
        <thead>
        <th>Name</th>
        <th>ID</th>
        <th><strike>Unpublished</strike> Pages (using Brick)</th>
        {% for additionalProperty in brick.additionalProperties %}
            <th>{{ additionalProperty.propertyName }}</th>
        {% endfor %}
        </thead>
        {% for brick in bricks %}
            <tbody>
            <td>{{ brick.name }}</td>
            <td>{{ brick.id }}</td>
            <td>
                {% for page in brick.pages %}
                    {% if page.published %}
                        <a href="{{ page.url }}">{{ page.url }}</a>,
                    {% else %}
                        <strike>{{ page.url }}</strike>
                    {% endif %}
                {% endfor %}
            </td>
            {% for additionalProperty in brick.additionalProperties %}
                <td>{{ additionalProperty.propertyValue }}</td>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
</div>

</body>
</html>
