<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>

<body>

<style type="text/css">
    table {
        background-color: #ffffff;
        border-collapse: collapse;
        border: none;
    }

    thead {
        background-color: #0096f3;
    }

    tfoot {
        background-color: #F7F1D4;
        font-size: 80%;
        border-top: 1px solid #999;
    }

    td, th {
        text-align: left;
        padding: 0.5em 1em;
    }

    /* Hintergrundfarbe für ungerade Zeilen (1., 3., 5., ...) */
    tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Weiß */
    }

    /* Hintergrundfarbe für gerade Zeilen (2., 4., 6., ...) */
    tbody tr:nth-child(even) {
        background-color: #d9d9d9; /* Hellgrau */
    }
</style>

{% set showAdditionalPropertiesColumn = false %}

{% for brick in bricks %}
    {% if showAdditionalPropertiesColumn or (brick.additionalProperties is defined and brick.additionalProperties is not empty) %}
        {% set showAdditionalPropertiesColumn = true %}
    {% endif %}
{% endfor %}

<div id="site">
    <table id="areabricks">
        <thead>
        <th>Name</th> {#  TODO: Column headers durch localized keys ersetzen #}
        <th>ID</th>
        <th>Version</th>
        <th>Description</th>
        <th>Template</th>
        <th><strike>Unpublished</strike> Pages (using Brick)</th>
        {% if showAdditionalPropertiesColumn %}
            <th>Additional Properties</th>
        {% endif %}
        </thead>
        <tbody>
        {% for brick in bricks %}
            <tr>
                <td>{{ brick.name }}</td>
                <td>{{ brick.id }}</td>
                <td>{{ brick.version }}</td>
                <td>{{ brick.description }}</td>
                <td>{{ brick.template }}</td>
                <td>
                    {% for page in brick.pages %}
                        {% if page.published %}
                            <li><a href="{{ page.url }}">{{ page.url }}</a></li>
                        {% else %}
                            <li><strike>{{ page.url }}</strike></li>
                        {% endif %}
                    {% endfor %}
                </td>
                {% if showAdditionalPropertiesColumn %}
                    {% include '@NeustaPimcoreAreabrickConfig/bricks/additional_properties.html.twig' with { 'additionalProperties': brick.additionalProperties|default([]) } %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
