<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.title'|trans }}</title>
    <style type="text/css">
        table {
            background-color: #ffffff;
            border-collapse: collapse;
            border: none;
        }

        thead {
            background-color: #0096f3;
        }

        tfoot {
            background-color: #F7F1D4;
            font-size: 80%;
            border-top: 1px solid #999;
        }

        td, th {
            text-align: left;
            padding: 0.5em 1em;
        }

        /* Hintergrundfarbe für ungerade Zeilen (1., 3., 5., ...) */
        tbody tr:nth-child(odd) {
            background-color: #ffffff; /* Weiß */
        }

        /* Hintergrundfarbe für gerade Zeilen (2., 4., 6., ...) */
        tbody tr:nth-child(even) {
            background-color: #d9d9d9; /* Hellgrau */
        }
    </style>
</head>

<body>

<div id="site">
    <table id="areabricks" style="width: 100%;">
        <thead>
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.0'|trans }}</th> {#  TODO: Column headers durch localized keys ersetzen #}
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.1'|trans }}</th>
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.2'|trans }}</th>
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.3'|trans }}</th>
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.4'|trans }}</th>
        <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.5'|trans }}</th>
        {% if showAdditionalPropertiesColumn %}
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.colHeaders.6'|trans }}</th>
        {% endif %}
        </thead>
        <tbody>
        {% for brick in bricks %}
            <tr>
                <td>{{ brick.name }}</td>
                <td>{{ brick.id }}</td>
                <td>{{ brick.version }}</td>
                <td>{{ brick.description }}</td>
                <td>{{ brick.template }}</td>
                <td>
                    {% for page in brick.pages %}
                        {% if page.published %}
                            <li><a href="{{ page.editModeUrl }}">{{ page.url }}</a> (<a href="{{ page.url }}">Frontend</a>)</li>
                        {% else %}
                            <li style="text-decoration: line-through;"><a href="{{ page.editModeUrl }}">{{ page.url }}</a></li>
                        {% endif %}
                    {% endfor %}
                </td>
                {% if showAdditionalPropertiesColumn %}
                    {% include '@NeustaPimcoreAreabrickConfig/bricks/additional_properties.html.twig' with { 'additionalProperties': brick.additionalProperties|default([]) } only %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
