{% set hasVersions = bricks has some brick => brick.version is not empty %}
{% set hasDescriptions = bricks has some brick => brick.description is not empty %}
{% set hasAdditionalProperties = bricks has some brick => brick.additionalProperties is not empty %}

<div id="neusta_areabrick_config">
    <table>
        <thead>
        <tr>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.name'|trans([], 'admin') }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.id'|trans([], 'admin') }}</th>
            {% if hasVersions %}
                <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.version'|trans([], 'admin') }}</th>
            {% endif %}
            {% if hasDescriptions %}
                <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.description'|trans([], 'admin') }}</th>
            {% endif %}
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.template'|trans([], 'admin') }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.pages'|trans([], 'admin') }}</th>
            {% if hasAdditionalProperties %}
                <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.additional_properties'|trans([], 'admin') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for brick in bricks %}
            <tr>
                <td>{{ brick.name|trans([], 'admin') }}</td>
                <td>{{ brick.id }}</td>
                {% if hasVersions %}
                    <td>{{ brick.version }}</td>
                {% endif %}
                {% if hasDescriptions %}
                    <td>{{ brick.description|trans([], 'admin') }}</td>
                {% endif %}
                <td>{{ brick.template }}</td>
                <td>
                    {% embed "@NeustaPimcoreAreabrickConfig/bricks/pages_accordion.html.twig" with {
                        title: 'neusta_pimcore_areabrick_config.areabricks.overview.table.published_pages'|trans,
                        pages: brick.pages|filter(page => page.published),
                    } only %}
                        {% block page %}
                            {{ parent() }} (<a href="{{ page.url }}" target="_blank">Frontend</a>)
                        {% endblock %}
                    {% endembed %}

                    {% embed "@NeustaPimcoreAreabrickConfig/bricks/pages_accordion.html.twig" with {
                        title: 'neusta_pimcore_areabrick_config.areabricks.overview.table.unpublished_pages'|trans,
                        pages: brick.pages|filter(page => not page.published),
                    } only %}
                    {% endembed %}
                </td>
                {% if hasAdditionalProperties %}
                    <td>
                        <ul class="additional-properties">
                            {% for additionalProperty in brick.additionalProperties|default([]) %}
                                <li><span>{{ additionalProperty.name }}</span>: {{ additionalProperty.value }}</li>
                            {% else %}
                                <li class="empty">{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.no_additional_properties'|trans([], 'admin') }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
