<div id="neusta_areabrick_config">
    <table>
        <thead>
        <tr>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.name'|trans }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.id'|trans }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.version'|trans }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.description'|trans }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.template'|trans }}</th>
            <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.pages'|trans }}</th>
            {% if hasAdditionalProperties %}
                <th>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.col_headers.additional_properties'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for brick in bricks %}
            <tr>
                <td>{{ brick.name }}</td>
                <td>{{ brick.id }}</td>
                <td>{{ brick.version }}</td>
                <td>{{ brick.description }}</td>
                <td>{{ brick.template }}</td>
                <td>
                    {% set published_pages = brick.pages|filter(page => page.published) %}
                    {% set unpublished_pages = brick.pages|filter(page => not page.published) %}

                    {% if published_pages is not empty %}
                        <!-- Published Pages Accordion -->
                        <div class="accordion">
                            <button>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.published_pages'|trans }}</button>
                            <ul>
                                {% for page in published_pages %}
                                    <li>
                                        <a data-page-id="{{ page.id }}" data-page-type="{{ page.type }}">
                                            {{ page.url }}
                                        </a>
                                        (<a href="{{ page.url }}">Frontend</a>)
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if unpublished_pages is not empty %}
                        <!-- Unpublished Pages Accordion -->
                        <div class="accordion">
                            <button>{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.unpublished_pages'|trans }}</button>
                            <ul>
                                {% for page in unpublished_pages %}
                                    <li>
                                        <a data-page-id="{{ page.id }}" data-page-type="{{ page.type }}">
                                            {{ page.url }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </td>
                {% if hasAdditionalProperties %}
                    <td>
                        <ul class="additional-properties">
                            {% if brick.additionalProperties is defined %}
                                {% for additionalProperty in brick.additionalProperties %}
                                    <li class="{% if additionalProperty.name == 'tags' %}tag{% elseif additionalProperty.name == 'groups' %}group{% endif %}">
                                        {{ additionalProperty.name }}: {{ additionalProperty.value }}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li style="color: #404040">{{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.no_additional_properties'|trans }}</li>
                            {% endif %}
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
