<header>
    <h1>{{ 'Slide title' | trans }}</h1>
    <div class="slideTitle">{{ pimcore_input('title', {title: 'put your slide title here'}) }}</div>
</header>

<main>
    <h1>{{ 'Slide content' | trans }}</h1>

    <div class="flex-container">
        <div class="flex-child">
            {{ pimcore_areablock("north-left-content") }}
        </div>
        <div class="flex-child">
            {{ pimcore_areablock("north-right-content") }}
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-child">
            {{ pimcore_areablock("middle-left-content") }}
        </div>
        <div class="flex-child">
            {{ pimcore_areablock("middle-right-content") }}
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-child">
            {{ pimcore_areablock("south-left-content") }}
        </div>
        <div class="flex-child">
            {{ pimcore_areablock("south-right-content") }}
        </div>
    </div>
</main>

<div class="slide-footer">
    <h1>{{ 'Slide footer' | trans }}</h1>
    {{ pimcore_snippet('footer', {
        'title': 'Drop your footer snippet here.'
    }) }}
</div>

{# ------------- Slide specific settings ------------- #}
<div class="slide-settings">
    <h1>{{ 'Slide settings' | trans }}</h1>

    <div class="notes">
        <strong>{{ 'Notes' | trans }}:</strong>
        {{ pimcore_wysiwyg('notes', {
            "height": 300
        }) }}
    </div>

    <div class="background-image">
        <h2>{{ 'Background image' | trans }}:</h2>
        {{ pimcore_image("background-image", {
            'title': 'Drop optionally background image here',
            'width': 500,
            'height': 300
        }) }}
    </div>
</div>
