{% extends '@NeustaPimcorePresentation/layoutBase.html.twig' %}

{% block main %}
    {% if editmode %}
        {% include '@NeustaPimcorePresentation/Presentation/_presentation-admin.html.twig' %}
    {% elseif slidesMarkup is empty %}
        <div class="slides">
            <section>
                <span class="error-presentation-has-no-slides">
                    ERROR: This Presentation has no Slides!
                </span>
            </section>
        </div>
    {% else %}
        <div class="slides">
            {{ slidesMarkup | raw }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ revealJsPublicPath }}/dist/reveal.js"></script>
    <script src="{{ revealJsPublicPath }}/plugin/highlight/highlight.js"></script>
    <script src="{{ revealJsPublicPath }}/plugin/markdown/markdown.js"></script>
    <script src="{{ revealJsPublicPath }}/plugin/notes/notes.js"></script>
    <script src="{{ revealJsPublicPath }}/plugin/search/search.js"></script>
    <script src="{{ revealJsPublicPath }}/plugin/zoom/zoom.js"></script>
    <script>
        /* More info https://github.com/hakimel/reveal.js#configuration */
        Reveal.initialize({
            {%- if document.hasProperty('width') %}
            width: {{ document.getProperty('width') }},
            {% endif -%}
            {%- if document.hasProperty('height') %}
            height: {{ document.getProperty('height') }},
            {% endif -%}
            {%- if document.hasProperty('slideNumber') %}
            slideNumber: {{ document.getProperty('slideNumber')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('controls') %}
            controls: {{ document.getProperty('controls')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('progress') %}
            progress: {{ document.getProperty('progress')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('hash') %}
            hash: {{ document.getProperty('hash')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('transition') %}
            transition: '{{ document.getProperty('transition') }}',
            {% endif -%}
            {%- if document.hasProperty('autoSlide') %}
            autoSlide: {{ document.getProperty('autoSlide') }},
            {% endif -%}
            {%- if document.hasProperty('showNotes') %}
            showNotes: {{ document.getProperty('showNotes')==1 ?'true':'false' }},
            {% endif -%}

            plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
        });
    </script>
{% endblock %}
